@import "tailwindcss";

.grid-base {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 1.5rem; /* same as gap-6 */
}

@media (min-width: 768px) {
  .grid-70-30 {
    grid-template-columns: 70% 28%;
  }
}

